{% extends 'tache/base.html' %}

{% block title %}
    Responsible update
{% endblock %}

{% block content %}

{% comment %} {% extends 'base.html' %}

{% block title %}
    Modifier Projet
{% endblock %}

{% block content %}

{% if user.is_authenticated %} {% endcomment %}

    <h1>Responsible update</h1>
    <div class="mb-3">

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary">Update</button>
        </form>

    </div>


{% comment %} {% else %}
    <h1>Vous n'êtes pas autorisé à appoeter des modifications sur les données!</h1>
{% endif %}
{% endcomment %}

{% endblock %}
